<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ExportProjectDialog">
		<title>Export Project</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<rows>2</rows>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Width</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="widthCtrl" member="yes">
									<value>0</value>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Height</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="heightCtrl" member="yes">
									<value>0</value>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="lockAspectButton" member="yes">
							<bitmap stock_id="wxART_GO_DOWN" stock_client="wxART_CMN_DIALOG" />
							<default>1</default>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
							<label>Cancel</label>
							<handler function="OnCancel" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
							<label>Export As...</label>
							<handler function="OnExport" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
